#profil a
{
text-decoration:none;
color: black;
}
header div
{
display: flex;
justify-content: flex-end;
}
article
{
margin:40px;
}
form
{
margin:100px;
}
#go
{
display: flex;
justify-content: center;
}
#accueil a
{
text-decoration:none;
color: black;
}